@import 'general';

cc-action-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $cc-space;
  color: $cc-color-primary;
  font-size: $cc-font-size-xxl;
  font-weight: $cc-font-bold-heavy;

  .actions {
    button:not(:last-child) {
      margin-right: $cc-space-s;
    }
  }
}
