<cc-action-title>
  Exchange configuration

  <button mat-stroked-button color="primary" [routerLink]="['/portfolio']">
    <span>Cancel</span>
  </button>
  <button mat-raised-button color="primary" [disabled]="configForm.invalid" (click)="onSave(exchange, configFormValue)">
    <span>Save</span>
  </button>
</cc-action-title>

<mat-card>
  <form [formGroup]="configForm">
    <cc-form-container>
      <cc-form-block columns="3">
        <cc-form-column columnsPart="2">
          <mat-form-field>
            <input type="text" matInput placeholder="Name" formControlName="name" required>
          </mat-form-field>
        </cc-form-column>

        <mat-form-field>
          <mat-select placeholder="Exchange" formControlName="exchange" required>
            <mat-option *ngFor="let item of codebookService.getCodebook('exchange', codebooks)" [value]="item.key">
              {{ item.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </cc-form-block>

      <cc-form-block columns="1">
        <mat-form-field>
          <input type="text" matInput placeholder="Api key" formControlName="apiKey" required>
        </mat-form-field>
      </cc-form-block>

      <cc-form-block columns="1">
        <mat-form-field>
          <input type="text" matInput placeholder="Secret key" formControlName="apiSecret" required>
        </mat-form-field>
      </cc-form-block>
    </cc-form-container>
  </form>
</mat-card>
