@import 'general';

cc-card-row {
  display: flex;
  flex-flow: row wrap;
  margin: (-$cc-space) (-$cc-space-s) 0 (-$cc-space-s);

  .mat-card {
    margin: $cc-space $cc-space-s 0 $cc-space-s;
    min-width: 240px + 2 * $cc-space-mid-l;
  }

  + cc-card-row {
    margin-top: 0;
  }
}
