@import 'general';

cc-form-field {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: $cc-space-mid-s $cc-space $cc-space;

  mat-slide-toggle {
    .mat-slide-toggle-content {
      white-space: normal;
    }

    & + .mat-icon-button {
      @extend %suffix-icon;

      margin-left: $cc-space-s;
      width: 1.5em;
      height: 1.5em;
      vertical-align: baseline;
      font: inherit;
    }
  }
}
