@import 'general';

cc-form-block {
  display: flex;
  flex-flow: row wrap;
  margin: 0 (-$cc-space);

  mat-form-field,
  > div {
    padding: 0 $cc-space;
  }

  mat-slide-toggle {
    padding: $cc-space 0 0 0;
  }
}
