// ===
// Roboto font | https://fonts.google.com/specimen/Roboto
// ===
// import roboto font style sheet
@import './assets/fonts/roboto/roboto.css';

// weight
$cc-font-normal: 400;
$cc-font-bold: 500;
$cc-font-bold-heavy: 500;

// size
$cc-font-size: 14px;
$cc-font-size-s: $cc-font-size - 2px;
$cc-font-size-xs: $cc-font-size-s - 2px;
$cc-font-size-xxs: $cc-font-size-xs - 2px;
$cc-font-size-l: $cc-font-size + 2px;
$cc-font-size-xl: $cc-font-size-l + 2px;
$cc-font-size-xxl: $cc-font-size-xl + 2px;

// use roboto font and set default (wheat) background
body {
  font-family: Roboto, sans-serif;
  font-size: $cc-font-size;
}
