// Material design icons (mdi) | https://materialdesignicons.com
// ===
button.mat-menu-item {
  line-height: 24px !important;
}

a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}

.mat-icon svg {
  width: 24px;
  height: 24px;
}
