// ======
// COLORS
// ======
// primary...
$cc-color-primary: #283493;
$cc-color-primary-light: #5f5ec4;
$cc-color-primary-dark: #000f64;
// ...and secondary app colors
$cc-color-secondary: #000936;
$cc-color-secondary-light: #2d3160;
$cc-color-secondary-dark: #000013;

// dividers
$cc-dark-dividers: $dark-dividers;

// other colors
$cc-color-white: #fff;
$cc-color-black: #000;
$cc-color-gray95: #f2f2f2;
// ======

// =====
// FONTS
// =====
// weight
$cc-font-normal: 400;
$cc-font-bold: 500;
$cc-font-bold-heavy: 700;

// size
// ...in case of base size: 16px
$cc-font-size: 1rem; // (16px)
$cc-font-size-s: 0.875rem; // (14px)
$cc-font-size-xs: 0.75rem; // (12px)
$cc-font-size-xxs: 0.625rem; // (10px)
$cc-font-size-l: 1.125rem; // (18px)
$cc-font-size-xl: 1.25rem; // (20px)
$cc-font-size-xxl: 1.5rem; // (24px)
$cc-font-size-xxxl: 1.875rem; // (30px)
$cc-font-size-xxxxl: 2rem; // (32px)
// =====

// =======
// SPACING
// =======
// space
$cc-space: 16px;
$cc-space-s: $cc-space / 2;
$cc-space-xs: $cc-space-s / 2;
$cc-space-l: $cc-space * 2;
$cc-space-xl: $cc-space-l * 2;
// -- mid-spaces
$cc-space-mid-s: $cc-space - $cc-space-s / 2; // (12px)
$cc-space-mid-xs: $cc-space-mid-s / 2; // (6px)
$cc-space-mid-l: $cc-space + $cc-space-s; // (24px)
$cc-space-mid-xl: $cc-space-mid-l * 2; // (48px)
// =======

// ============================
// FORM CONTAINER/BLOCK/COLUMNS
// ============================
$form-columns: 12;
// ============================

// =======================
// ANGULAR MATERIAL STYLES
// =======================
%suffix-icon {
  .mat-icon {
    svg {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0.7);
    }
  }
}
