<cc-action-title>
  Exchange configuration

  <button mat-raised-button color="accent">
    <span>Cancel</span>
  </button>
  <button mat-raised-button color="primary">
    <span>Save</span>
  </button>
</cc-action-title>

<mat-card>
  <form [formGroup]="configForm">
    <cc-form-container>
      <cc-form-block>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Exchange" formControlName="exchange" required>
        </mat-form-field>
      </cc-form-block>

      <cc-form-block>
        <mat-form-field>
          <input matInput placeholder="Api key" formControlName="apiKey" required>
        </mat-form-field>
      </cc-form-block>

      <cc-form-block>
        <mat-form-field>
          <input matInput placeholder="Secret key" formControlName="apiSecret" required>
        </mat-form-field>
      </cc-form-block>
    </cc-form-container>
  </form>
</mat-card>
