@import 'general';

:host {
  flex: 1;
}

table {
  width: 100%;

  // minimize 'actions' column
  .mat-column-actions {
    width: 1%;
    white-space: nowrap;

    button:not(:last-child) {
      margin-right: $cc-space-s;
    }
  }
}
