<cc-action-title>
  Bot configuration

  <button mat-stroked-button color="primary">
    <span>Cancel</span>
  </button>
  <button mat-raised-button color="primary">
    <span>Save</span>
  </button>
</cc-action-title>

<cc-card-row>
  <cc-card-column [style.flex]="2">
    <mat-card>
      <cc-form-container>
        <cc-form-title>Base config</cc-form-title>
        <cc-form-block columns="3">
          <mat-form-field>
            <input matInput placeholder="Name" required>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Exchange" required>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Base currency" required>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>
        </cc-form-block>

        <cc-form-block columns="3">
          <mat-form-field>
            <input matInput placeholder="Ammount to trade" required>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Maximum ammount allocated" required>
            <span matSuffix>BTC</span>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Maximum open positions" required>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>
        </cc-form-block>
        <cc-form-block columns="3">
          <cc-form-field>
            Notification settings
          </cc-form-field>
          <cc-form-field>
            <mat-slide-toggle color="primary">Progressive buy ammount</mat-slide-toggle>
            <button color="primary" mat-button mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </cc-form-field>
          <mat-form-field>
            <input matInput placeholder="Max % buy" required>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>
        </cc-form-block>
      </cc-form-container>
    </mat-card>
  </cc-card-column>

  <cc-card-column [style.flex]="1">
    <mat-card>
      <cc-form-container>
        <cc-form-title>Bot status</cc-form-title>
        <cc-form-block columns="1">
          <cc-form-field>
            <mat-slide-toggle color="primary">Active</mat-slide-toggle>
          </cc-form-field>
          <cc-form-field>
            <mat-slide-toggle color="primary">Paper Trading</mat-slide-toggle>
          </cc-form-field>
          <cc-form-field>
            <mat-slide-toggle color="primary">Buying</mat-slide-toggle>
          </cc-form-field>
          <cc-form-field>
            <mat-slide-toggle color="primary">Selling</mat-slide-toggle>
          </cc-form-field>
        </cc-form-block>
      </cc-form-container>
    </mat-card>
  </cc-card-column>
</cc-card-row>

<cc-card-row>
  <cc-card-column [style.flex]="2">
    <mat-card>
      <cc-form-container>
        <cc-form-title>Strategy</cc-form-title>
        <cc-form-block columns="3">
          <mat-form-field>
            <mat-select placeholder="Trade coins">
              <mat-option></mat-option>
            </mat-select>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Candlestick period" required>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>
        </cc-form-block>

        <cc-form-block columns="3">
          <cc-form-field>
            <mat-slide-toggle color="primary">Use SMA</mat-slide-toggle>
            <button color="primary" mat-button mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </cc-form-field>

          <mat-form-field>
            <input matInput placeholder="Candlestick period" required>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>
        </cc-form-block>
      </cc-form-container>
    </mat-card>

    <mat-card>
      <cc-form-container>
        <cc-form-title>Strategy advanced config</cc-form-title>
        <cc-form-block columns="3">
          <cc-form-field>
            <mat-slide-toggle color="primary">Buy Wait for cross</mat-slide-toggle>
          </cc-form-field>
          <cc-form-field>
            <mat-slide-toggle color="primary">Cross Down Sell</mat-slide-toggle>
          </cc-form-field>
          <cc-form-field>
            <mat-slide-toggle color="primary">Cross Down Trailing</mat-slide-toggle>
          </cc-form-field>
        </cc-form-block>

        <cc-form-block columns="3">
          <cc-form-field>
            <mat-slide-toggle color="primary">Buy remove last open</mat-slide-toggle>
          </cc-form-field>
          <cc-form-field>
            <mat-slide-toggle color="primary">Sell remove last open</mat-slide-toggle>
          </cc-form-field>
        </cc-form-block>
        <cc-form-block columns="3">
          <mat-form-field>
            <input matInput placeholder="Buy Intolerantion (%)" required>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Sell Intolerantion (%)" required>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>
        </cc-form-block>
      </cc-form-container>
    </mat-card>
  </cc-card-column>

  <cc-card-column [style.flex]="1">
    <mat-card>
      <cc-form-container>
        <cc-form-title>Take profit</cc-form-title>
        <!-- TODO: Two columns... -->
        <!-- <cc-form-block columns="2">
          <mat-form-field>
            <input matInput placeholder="Take profit" required>
            <span matSuffix>%</span>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Insta-sell profit" required>
            <span matSuffix>%</span>
            <button color="primary" mat-button matSuffix mat-icon-button>
              <mat-icon svgIcon="help-circle"></mat-icon>
            </button>
          </mat-form-field>
        </cc-form-block> -->
      </cc-form-container>
    </mat-card>

    <mat-card>
      <cc-form-container>
        <cc-form-title>Take profit</cc-form-title>
      </cc-form-container>
    </mat-card>

    <mat-card>
      <cc-form-container>
        <cc-form-title>Trailing buy</cc-form-title>
      </cc-form-container>
    </mat-card>
  </cc-card-column>
</cc-card-row>
