@import 'general';

:host {
  margin-bottom: $cc-space;
  border-bottom: 1px solid $cc-dark-dividers;
  padding-bottom: $cc-space;

  span {
    font-size: $cc-font-size-xl;
    font-weight: $cc-font-bold;
  }
}
