/* You can add global styles to this file, and also import other style files */

// Normalize.css | https://necolas.github.io/normalize.css/
@import '~normalize.css/normalize.css';

// global shared app scss styles and variables
@import 'theme';
@import 'spinner';
@import 'roboto';
@import 'mdi';
@import 'classes';

html {
  font-size: 100%;
}

body {
  margin: 0;
  background-color: $cc-color-gray95;
}

html,
body {
  height: 100%;
}
